aside {
  display: flex;
  height: 100%;

  margin-bottom: 35px;

  > div {
    flex: 1;
  }

  .openFiltersContext {
    cursor: pointer;

    border: 1px solid $cinza2;
    background-color: transparent;

    font-size: 1.5rem;
    font-weight: 400;
    color: $cinza2;

    width: 100%;
    height: 49px;

    @media (width >= 769px) {
      display: none;
    }
  }

  .orderByContext {
    @media (width >= 769px) {
      display: none;
    }
  }
}

.filterByContext {
  &--container {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: $branco;

    transition: all .5s;

    @media (width >= 769px) {
      position: relative;
      width: auto;
      left: 0;
    }

    &.active {
      left: 0;
    }

    header {
      font-size: 1.75rem;
      text-transform: uppercase;
      color: $cinza2;
      display: flex;
      justify-content: space-between;

      padding: auto 1rem;

      @media (width >= 769px) {
        display: none;
      }

      span {
        cursor: pointer;

        width: 18px;
        height: 18px;

        color: transparent;

        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml,<svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 18.852L17.5547 1.00001" stroke="black"/><line y1="-0.5" x2="25.2899" y2="-0.5" transform="matrix(0.711746 0.702437 -0.874311 0.485367 0 1.23547)" stroke="black"/></svg>');
      }
    }

    &__content {
      padding: 0 1rem;

      @media (width >= 769px) {
        padding: 0;
      }

      &--options {
        max-height: 0;
        overflow: hidden;

        margin-top: 20px;
        margin-bottom: 15px;

        transition: all .5s;

        @media (width >= 769px) {
          max-height: 99em;
        }
        
        &.__sizes {
          display: grid;
          grid-template-columns: repeat(4, minmax(0, 1fr));
          gap: 0.5rem;

          max-width: 160px;

          text-transform: uppercase;

          > div {
            width: 32px;
            height: 32px;

            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 1rem;

            border: 1px solid $cinza2;

            input {
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              margin: 0;
              opacity: 0;}
          }
        }
      }

      fieldset {
        cursor: pointer;
        
        legend {
          display: flex;
          justify-content: space-between;
          align-items: center;

          width: 100%;

          color: $cinza2;

          font-size: 1.5rem;
          font-weight: 400;

          text-transform: uppercase;
          letter-spacing: .1rem;

          span {
            width: 18px;
            height: 13px;

            display: block;

            background-size: 100%;
            background-repeat: no-repeat;
            background-image: url('data:image/svg+xml,<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L10 14L19 1.0135" stroke="%23666666" stroke-linecap="round"/></svg>');
          }

          @media (width >= 769px) {
            font-size: 1rem;

            span {
              display: none;
            }
          }
        }
      }
    }
  }

  .filterByContext--container__content--options.active {
    max-height: 99em;
  }
}