header {
  padding: 26px 1.25rem;
  border-bottom: 2px solid rgba(199,199,199,1);
  margin-bottom: 24px;

  .container {
    display: flex;
    justify-content: space-between;
  }

  @media (width >= 768px) {
    margin-bottom: 40px;
  }
}